@import "tailwindcss";

:root {
  /* Background */
  --color-background: #faf9ff;
  --color-card: #ffffff;

  /* Primary - violet */
  --color-primary: #a855f7;
  --color-primary-light: #f3e8ff;
  --color-primary-dark: #9333ea;

  /* Secondary - pink */
  --color-secondary: #ec4899;
  --color-secondary-light: #fce7f3;

  /* Accent - blue */
  --color-accent: #60a5fa;
  --color-accent-light: #dbeafe;
  --color-accent-green: #afe3cd;

  /* Text */
  --color-text: #0f172a;
  --color-text-secondary: #64748b;

  /* Border */
  --color-border: #e2e8f0;

  /* Status */
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #f43f5e;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Arial, sans-serif;
  background-image: url("/Users/inna/Documents/Kod/TH-projects/project-react-api/src/assets/Pastellfärgad-abstrakt-gradientbakgrund.png");
  background-repeat: no-repeat;
  background-size: cover;
}
